.activity .item .datastore_activity_title {
    font-weight: bolder;
}

.activity .item.in_progress .icon {
    background-color: #8c76ce;
}

.activity .item.duplicate .icon {
    background-color: #b9b952;
}

.activity .item.ingest .icon {
    background-color: #4c9947;
}

.activity .item.index .icon {
    background-color: #4c9947;
}

.activity .item.prep .icon {
    background-color: #4c9947;
}

.activity .item a {
    font-size: 14px;
    line-height: 1.5;
    margin: 5px 0 0 80px;
}

.activity li:last-child {
    /* this is a hack to prevent the dotted lines from displaying below the first activity */
    background: white;
}

.activity .collapseDetails {
    margin: 5px 0 0 100px;
}

.activity .collapseDetails .detailsTable {
    font-size: 13px;
}

.activity .collapseDetails .detailsTable td {
    padding-left: 12px;
}
