{% extends "package/resource_edit_base.html" %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block primary_content_inner %}

    {% block datastore_actions %}
        <h3>{{ _('Actions') }}</h3>

        <form method="post" action="{{ reindex_action }}">
            <button class="btn btn-primary" name="save" type="submit">
                <i class="fas fa-cloud-upload-alt"></i> {{ _('Reindex DataStore data') }}
            </button>
        </form>
    {% endblock %}

    {% block datastore_history %}
        <h3>{{ _('History') }}</h3>
        <table class="table table-bordered">
            <tr>
                <th>{{ _('Status') }}</th>
                <th>{{ _('Operation') }}</th>
                <th>{{ _('Version') }}</th>
                <th>{{ _('Start') }}</th>
                <th>{{ _('End') }}</th>
                <th>{{ _('Duration') }}</th>
                <th>{{ _('Count') }}</th>
            </tr>
            {% for stat in stats %}
                <tr>
                    <td>
                        {% if stat.in_progress %}
                            <i class="fas fa-spinner"></i>
                        {% elif stat.error %}
                            <i class="fas fa-exclamation"></i>
                        {% else %}
                            <i class="fas fa-check"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if stat.type == 'ingest' %}
                            <i class="fas fa-tasks"></i>
                        {% elif stat.type == 'index' %}
                            <i class="fas fa-search"></i>
                        {% endif %}
                        {{ stat.type }}
                    </td>
                    <td>{{ stat.version }}</td>
                    <td>{{ h.render_datetime(stat.start, with_hours=True) }}</td>
                    <td>{{ h.render_datetime(stat.end, with_hours=True) }}</td>
                    <td>
                        {% if stat.duration %}
                            {{ stat.duration }} seconds
                        {% endif %}
                    </td>
                    <td>{{ stat.count }}</td>
                </tr>
            {% endfor %}
        </table>

    {% endblock %}

{% endblock %}
